.main-content {
  padding: 2em 4em;
  text-align: center;

  & h1 {
    display: inline-block;
    padding: 0.5em 1.5em;
    background-color: #bbe0d2;
    border-radius: 50px;
    box-shadow: 0px 0px 15px #000000ca;
  }

  & h1, h2 {
    font-family: 'Comfortaa';
  }
}

.tables-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

table {
  margin-block: 2em;
  border-collapse: collapse;
}

th {
  background-color: #bbe0d2;
}

td {
  background-color: #fcfcf6c2;
}

td, th {
  padding: 0.5em 1.5em;
  /* border: 1px solid; */
  & a {
    text-decoration: none;
    color: inherit;
  }
}

.button {
  text-decoration: none;
  background-color: transparent;
  color: #248b63;
  font-weight: bold;
  border-radius: 50px;
  padding-inline: 8px;
  font-size: 1em;
}

.button:hover {
  background-color: #ddd;
}