#title {
  background-color: #fcfcf6a5;
  padding-block: 10px;
  font-family: 'Comfortaa';
  color: #6fa2dd;
  font-size: 2em;
  margin-block: 20px;
  text-align: center;

  & span {
    color: #248b63;
  }
}

/* Cards randoms */
.cards-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  justify-content: space-around;
  gap: 20px;
  margin-left: 4%;
}

.book-card {
  box-sizing: border-box;
  text-align: center;
  padding: 20px 10px;
  margin-bottom: 2em;
  width: 220px;
  border-radius: 50px;
  background-color: #fcfcf6;
  box-shadow: 0px 0px 15px #000000ca;
  min-height: 300px;

  & h3 {
    color: #6fa2dd;
    margin-bottom: 10px;
    text-decoration-line: underline;
  }
  & p {
    margin-bottom: 10px;
  }
}

.button {
  text-decoration: none;
  background-color: transparent;
  color: #248b63;
  font-weight: bold;
  border-radius: 50px;
  padding-inline: 8px;
  font-size: 1em;
}

.button:hover {
  background-color: #ddd;
}

.links {
  text-decoration: none;
  color: #6fa2dd;
}

h4 {
  color: #868686;
}

/* Librería por Autor */
#title-autor {
  background-color: #fcfcf6a5;
  font-family: 'Comfortaa';
  padding: 1em 5em;
  margin-block: 1.5em;
  
  & h3 {
    color: #6fa2dd;
    text-align: center;
    font-size: 2.2em;
  }    

  & p {
    font-size: 1.2em;
    color: #868686;
  }
}

.son-toMiddle {
  display: inline-block;
  vertical-align: middle;
}